#item1 {
	margin: 10px;
	padding: 10px;
	grid-area: one;
}

#item2 {
	margin: 10px;
	padding: 10px;
	grid-area: two;
}

#item3 {
	margin: 10px;
	padding: 10px;
	grid-area: three;
}

#item4 {
	margin: 10px;
	padding: 10px;
	grid-area: four;
}

#item5 {
	margin: 10px;
	padding: 10px;
	grid-area: five;
}


.gridContainer {
	display: grid;
	grid-template-areas: 
	'one one one one one'
	'two three three three three'
	'four four four four five';
}


